<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="mx-auto flex h-16 max-w-screen-xl items-center justify-between px-4 sm:px-6 lg:px-8">
      <div class="flex items-center gap-4">
        <img
          src="https://freepngimg.com/download/coffee/33957-5-coffee-logo-transparent-background.png"
          alt="Coffee Shop Logo"
          class="h-8 w-8"
        />
        <h2 class="text-3xl font-bold">Coffee Shop</h2>
      </div>
      <nav class="flex items-center gap-4">
        {% if user.is_authenticated %}
        <div class="flex items-center gap-4">
          <a href="{% url 'order_detail' %}" class="rounded border border-blue-600 bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 transition duration-200">
            My Orders
          </a>
          <form method="post" action="{% url 'logout' %}" class="flex items-center">
            {% csrf_token %}
            <button type="submit" class="text-blue-600 hover:text-blue-800 focus:outline-none">
              Logout
            </button>
          </form>
        </div>
        {% else %}
          <a href="{% url 'login' %}" class="rounded border border-blue-600 bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 transition duration-200">Login</a>
        {% endif %}
      </nav>
    </header>

    <main class="container mx-auto px-4 py-6">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
