{% extends 'base.html' %} {% block content %}
<h1 class="text-3xl text-center font-bold underline">
    List of products
  </h1>
  <div class="flex justify-center max-h-400">
<ul>
  {% for product in list_products %}
  <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white m-4">
    <img class="w-full h-48 object-cover" src="{{ product.image.url }}" alt="{{ product.name }}">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{ product.name }}</div>
      <p class="text-gray-700 text-base">
        {{ product.description }}
      </p>
    </div>
    <div class="px-6 py-4 flex justify-between items-center">
      <span class="text-lg font-bold"> ${{ product.price }}</span>
      <span class="bg-green-500 text-white px-3 py-1 rounded-full text-sm">Available: {% if product.available %} Yes {% else %} No {% endif %} </span>
    </div>

  <form method="post" action="{% url "add_product" %}">
    {% csrf_token %}
    <input type="hidden" name="product" value="{{ product.id }}" />  
    <button type="submit" class="inline-block border border-indigo-600 bg-indigo-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
      Add to cart
    </button>
    </form>
    
  </div>
  
  {% empty %}
  <li>No products available</li>
  {% endfor %}
</ul>
</div>

{% endblock %}
